<launch>
  <!-- rpldiar a3 node -->
  <include file="$(find rplidar_ros)/launch/rplidar_a3.launch" /> 

  
  <!-- laser filter -->
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="tracking_laser_filter">
  <rosparam command="load" file="$(find platooning_tracking)/launch/box_filter.yaml" />
  <remap from="scan_filtered" to="tracking_scan_filtered"/>
  </node>

  <!-- tracking node -->
  <node name="platooning_tracking" pkg="platooning_tracking" type="platooning_tracking" output="screen">
  </node>

  <!-- obstacle detector node -->
  <node name="obstacle_extractor" pkg="obstacle_detector" type="obstacle_extractor_node">
    <remap from="scan" to="tracking_scan_filtered" />
    <param name="active"               value="true"/>
    <param name="use_scan"             value="true"/>
    <param name="use_pcl"              value="false"/>

    <param name="use_split_and_merge"    value="true"/>
    <param name="circles_from_visibles"  value="true"/>
    <param name="discard_converted_segments" value="true"/>
    <param name="transform_coordinates"  value="true"/>

    <param name="min_group_points"     value="5"/>

    <param name="max_group_distance"   value="0.1"/>
    <param name="distance_proportion"  value="0.00628"/>
    <param name="max_split_distance"   value="0.2"/>
    <param name="max_merge_separation" value="0.2"/>
    <param name="max_merge_spread"     value="0.2"/>
    <param name="max_circle_radius"    value="0.0"/>
    <param name="radius_enlargement"   value="0.3"/>

    <param name="frame_id"             value="laser"/>
  </node>

  <!-- rviz -->
  <!-- node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config_path)/" -->

</launch>
